.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bgWrap {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
}

.clientOnly {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}