.container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.meetingItem {
    border-radius: 3px;
    background-color: #e8e8e8;
    box-shadow: 0 2px 3px gray;
    margin: 0.5rem 1.5rem;
}

.meetingItem:hover {
    background-color: #dbdbdb;
}

.title {
    color: #4d4d4d;
}

.link {
    align-self: center;
    margin-bottom: 2rem;
}